.form-label {
    color: aliceblue;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1rem;
    display: block;
}
.titulo {
     color: aliceblue;
    text-align: center;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
    display: block;
    margin: 2rem;
}

/* Para pantallas grandes (PC, tablets grandes) */
@media (min-width: 751px) {
  .card {
    width: 18rem;   /* Fija el ancho de la tarjeta a 18rem cuando la pantalla es mayor a 751px */
  }
}

/* Para pantallas chicas (celulares) */
@media (max-width: 750px) {
  .bloqueUno {
    flex-direction: column;   /* Pone los elementos uno debajo del otro en lugar de lado a lado */
    align-items: center;       /* Centra horizontalmente los elementos dentro del contenedor */
    text-align: center;        /* Centra el texto dentro del bloque */
  }

  .imagenSecciones {
    width: 100%;               /* La imagen ocupa todo el ancho disponible */
    max-width: 250px;          /* Pero nunca supera los 250px */
    height: auto;              /* Mantiene proporción de la imagen */
  }

  .parrafo p {
    text-align: center;        /* Centra el texto del párrafo */
  }
}
