.titulo {
   color: aliceblue;
    text-align: center;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
    display: block;
    margin: 1rem;
}
.cinzel-fuente {
   color: aliceblue;
    text-align: center;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1.3rem;
    display: block;
    margin: 1rem;
}
#jefazo {
    height: 300px;
    width: 300px;
    margin-left: 1rem;
}
.containerGeneral {
    text-align: center;
}
