.container {
    display: flex;
    justify-content: center;
}

img {
    height: 15rem;
    object-fit: cover;
}

/*Pantalla comp*/
@media (min-width: 751px) {
    .card {
        width: 18rem;
    }
}

/*Pantalla cel*/
@media (max-width: 750px) {
    .card {
        width: 9rem;
    }
}

h1 {
    padding: 1rem;
}