.btn-danger {
    background-color: blueviolet;
    color: azure;
}

#title {
    color: crimson;
    font-weight: bold;
    text-align: center;
}

.contenedorTarjetas {
    display: flex;
    justify-content: center;
}

.card {
    margin: 1rem;
    background: linear-gradient(135deg, #1e90ff, #00bfff);
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.carousel-item {
    height: 40rem;
    width: 100%;
}

.btn-danger:hover {
    background-color: black;
}

.imagenTarjetas {
    height: 15rem;
    object-fit: cover;
}

/*Pantalla comp*/
@media (min-width: 751px) {
    .card {
        width: 18rem;
    }
}

/*Pantalla cel*/
@media (max-width: 750px) {
    .card {
        width: 9rem;
    }
}

.container {
    display: flex;
    justify-content: center;
}

.card-body {
    color: white;
    text-align: center;
    padding: 30px;
    font-family: sans-serif;
    font-size: 1.2em;
}

.card:hover {
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.4);
}