.btn-danger {
    background-color: blueviolet;
    color: azure;
}

#title{
    color: crimson;
    font-weight: bold;
    text-align: center;
}

.contenedorTarjetas {
    margin-left: 10rem;
}

.card {
    margin: 1rem;
}

.carousel-item {
    height: 40rem;
    width: 100%;
}

.btn-danger:hover {
    background-color: black;
}