.titulo {
    text-align: center;
    color: aliceblue;
    margin: 3rem;
}

.categoriaNombre {
    color: aliceblue;
}

@media (min-width: 751px) {
    .card {
        width: 18rem;
    }
}

/*Pantalla cel*/
@media (max-width: 750px) {
    .card {
        width: 18rem;
    }
}

.contenedorTarjetas {
    display: flex;
    justify-content: center;
}
