/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(to right, #000, #444, #000)
}
.containerFooter {
    display: flex;
    justify-content: center;
}

/*Pantalla comp*/
@media (min-width: 751px) {
    .card {
        width: 18rem;
    }
}

/*Pantalla cel*/
@media (max-width: 750px) {
    .card {
        width: 18rem;
    }
}